html {
    background-color: white;
}

body {
    margin: 0;
}

h1 {
    color: deeppink;
    text-align: center;
    margin: 0;
}

.splash {
    background-color: blue;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

/* .line is used for test2 */
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.scatterplotTooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.scatterDiv {
    margin-bottom: 0px;
    position: relative;
    max-height: 100vh;
}

svg {
    max-height: 100vh;
}