html {
    background-color: white;
}

h1 {
    color: deeppink;
    text-align: center;
}

/* .line is used for test2 */
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.scatterplotTooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.scatterDiv {
    margin-bottom: 50px
}