html {
    background-color: white;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.landingText {
    color: white;
    margin: 0 auto;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    margin-bottom: 10px
}

.landingBtn {
    margin: 10px auto;
    font-size: large;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}

.landingDiv {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.landingContainer {
    margin: 0 auto;
    padding-top: 20vh;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    margin: 0;
}

.headerBoxContainer {
    padding-top: 30vh;
}

.headerBox {
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 120px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
@media (max-width: 800px) {
    h1 {
        font-size: 80px;
    }
}
@media (max-width: 500px) {
    html {
        font-size: 10px
    }
    h1 {
        font-size: 60px;
    }
}
@media (max-width: 350px) {
    html {
        font-size: 8px
    }
    h1 {
        font-size: 40px;
    }
}
@media (max-width: 250px) {
    html {
        font-size: 7px
    }
    h1 {
        font-size: 20px;
    }
}

.headerh1 {
    background-image: linear-gradient(100deg, rgb(84, 201, 212), rgb(204, 70, 159), rgb(180, 20, 20), rgb(212, 119, 37), rgb(114, 112, 76), rgb(205, 185, 10), rgb(9, 141, 20), rgb(143, 157, 216), rgb(59, 65, 186), rgb(117, 29, 140), rgb(134, 131, 131), rgb(34, 29, 0) 90%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    width: min-content;
    background-size: 3000% 3000%;
    -webkit-animation: rainbow 30s linear infinite;
    -moz-animation: rainbow 30s linear infinite;
    -o-animation: rainbow 30s linear infinite;
    animation: rainbow 30s linear infinite;
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-fill-mode: backwards;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    -o-animation-fill-mode: backwards;
}
@-webkit-keyframes rainbow {
    0%{background-position:0%}
    50%{background-position:100%}
    100%{background-position:0%}
}
@-moz-keyframes rainbow {
    0%{background-position:0%}
    50%{background-position:100%}
    100%{background-position:0%}
}
@-o-keyframes rainbow {
    0%{background-position:0%}
    50%{background-position:100%}
    100%{background-position:0%}
}
@keyframes rainbow { 
    0%{background-position:0%}
    50%{background-position:100%}
    100%{background-position:0%}
}

.splash {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.backgroundImg {
    background-image: url(../img/splash.png);
    background-size: cover;
    background-color: white;
    height: inherit;
    width: inherit;
    z-index: -2;
    position: absolute;
    opacity: 0;
    animation-name: fade-in;
    -webkit-animation-name: fade-in;
    -moz-animation-name: fade-in;
    -o-animation-name: fade-in;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-duration: 6s;
    -webkit-animation-duration: 6s;
    -moz-animation-duration: 6s;
    -o-animation-duration: 6s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}
@-webkit-keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 0.65;}
}
@-moz-keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 0.65;}
}
@-o-keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 0.65;}
}
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 0.65;}
}

.toSecondPage {
    left: 48%;
    bottom: 56px;
    margin-bottom: -38px;
    width: 68px;
    height: 68px;
    border: solid black;
    border-width: 9px 9px 0px 0;
    box-shadow: 8px -8px white;
    animation: down-arrow 4.5s linear infinite;
    -webkit-animation: down-arrow 4.5s linear infinite;
    -moz-animation: down-arrow 4.5s linear infinite;
    -o-animation: down-arrow 4.5s linear infinite;
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
}
@keyframes down-arrow {
    0% {bottom: 56px}
    20% {bottom: 60px}
    40% {bottom: 56px}
    42.5% {bottom: 55px}
    50% {bottom: 56px}
    70% {bottom: 60px}
    90% {bottom: 56px}
    92.5% {bottom: 55px}
    100% {bottom: 56px}
}
@-webkit-keyframes down-arrow {
    0% {bottom: 56px}
    20% {bottom: 60px}
    40% {bottom: 56px}
    42.5% {bottom: 55px}
    50% {bottom: 56px}
    70% {bottom: 60px}
    90% {bottom: 56px}
    92.5% {bottom: 55px}
    100% {bottom: 56px}
}
@-moz-keyframes down-arrow {
    0% {bottom: 56px}
    20% {bottom: 60px}
    40% {bottom: 56px}
    42.5% {bottom: 55px}
    50% {bottom: 56px}
    70% {bottom: 60px}
    90% {bottom: 56px}
    92.5% {bottom: 55px}
    100% {bottom: 56px}
}
@-o-keyframes down-arrow {
    0% {bottom: 56px}
    20% {bottom: 60px}
    40% {bottom: 56px}
    42.5% {bottom: 55px}
    50% {bottom: 56px}
    70% {bottom: 60px}
    90% {bottom: 56px}
    92.5% {bottom: 55px}
    100% {bottom: 56px}
}

.toFooter {
    bottom: -100vh;
    left: 48%;
    width: 35px;
    height: 35px;
    border: solid #474747;
    border-width: 4px 4px 0px 0;
}

.down {
    position: absolute;
    transform: rotate(157deg) skewX(45deg) scaleY(0.7);
    -webkit-transform: rotate(157deg) skewX(45deg) scaleY(0.7);
}

/* .line is used for test2 */
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.scatterplotTooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.scatterDiv {
    margin-bottom: 0px;
    position: relative;
    max-height: 100vh;
}

svg {
    max-height: 100vh;
}

footer {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
}

.footerImg {
    width: 50vw;
}