<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CHARTizard</title>
	<link rel="icon" href="../static/img/CHARTizardLogo.png" type="image/png">
	<link rel="stylesheet" href="../static/css/style.css" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Archivo+Black|Roboto:400,700&display=swap" rel="stylesheet">
	<link rel="manifest" href="../static/manifest.json">
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src='https://unpkg.com/simple-statistics@7.0.8/dist/simple-statistics.min.js'></script>
</head>
<body>
	<div class="splash" id="splash">
		<div class="backgroundImg"></div>
		<div class="headerBoxContainer">
			<div class="headerBox">
				<h1 class="headerh1">CHARTizard</h1>
			</div>
		</div>
		<a href="#scatterDiv"><i class="down toSecondPage"></i></a>
	</div>
	<div class="secondPage">
		<div class="scatterDiv" id="scatterDiv"></div>
		<a href="#footer"><i class="down toFooter"></i></a>
	</div>
	
	{% include "typeColors.html" %}

	{% include "responsify.html" %}
    
	{% include "scatterplotInitial.html" %}
	{% include "scatterplotCSV.html" %}

	<footer id="footer">
		<div class="footerDiv">
			<a href="#splash"><i class="up upToSplash"></i><i class="up upToSplash upDbl"></i></a>
			<a href="#scatterDiv"><i class="up upToScatterDiv"></i></a>
			<h2 class="footerh2">Thanks!</h2>
			<p class="footerText">This project was created using D3.JS among other technologies. Thanks for looking.  I hope you had fun!</p>
			<p class="footerText">Please see README.md file on this project's GitHub page to see a full list of sources used in developing this project: <a class="footerA" target="_blank" href="https://github.com/petefitton/CHARTizard">GitHub Repo</a></p>
			<div class="footerImgDiv">
				<img src="../static/img/footerImg.png" class="footerImg" alt="Charizard sneering while pointing at a bar chart that shows CHARTizard popularity increasing.">
			</div>
		</div>
	</footer>
</body>
</html>