<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CHARTizard</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>
	<h1>CHARTizard</h1>
	<div class="scatterContainer"></div>
    <!-- <p>{{data.name[0]}}</p>
    <p>{{data.capture_rate[0]}}</p>
    <p>{{data.base_total[0]}}</p>
    <p>{{dat.name[0]}}</p>
    <p>{{dat.base_total[0]}}</p> -->
    
    {% include "scatterplot.html" %}



    <!-- {% include "uhtest.html" %} -->
    <!-- {% include "tester.html" %} -->

    <!-- <div id="my_dataviz"></div> -->
    <!-- <script src="../static/js/test.js"></script> -->
</body>
</html>