<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warning</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="landingDiv">
        <form action="{{url_for('chartizard')}}" method="get" class="landingContainer">
            <h1 class="landingText">WARNING</h1>
            <h2 class="landingText">This website may trigger seizures for people with <em>photosensitive epilepsy</em>.</h2>
            <h2 class="landingText">PEAT software was used to test the site, and the site was shown to be safe; however, please continue at your own discretion.</h2>
            <button class="landingBtn" type="submit">Click Here to Continue</button>
        </form>
    </div>
</body>
</html>