<script>

// credit for this function goes to: https://brendansudol.com/writing/responsive-d3
// with slight changes
// function makes SVG responsive to window dimensions
function responsivefy(svg) {
    
	// scatterDiv is the parent node of scatterplot SVG
	// set the container's width & height equal to the SVG width & height
    var scatterContainer = d3.select(svg.node().parentNode),
        width = parseInt(svg.style("width")),
        height = parseInt(svg.style("height")),
        aspect = width / height;

	// assign values for viewBox and preserveAspectRatio properties
    // call resize so that svg resizes on inital page load
    svg.attr("viewBox", "0 0 " + width + " " + height)
        .attr("perserveAspectRatio", "xMinYMid")
        .call(resize);

    window.addEventListener('resize', resize);
    
    // get width of scatterContainer and resize svg to fit it
    function resize() {
        var targetWidth = parseInt(scatterContainer.style("width"));
        svg.attr("width", targetWidth);
        svg.attr("height", Math.round(targetWidth / aspect));
    }
}
</script>