<script>

    // credit for this function goes to: https://brendansudol.com/writing/responsive-d3
    // with slight changes
    // function makes SVG responsive to window dimensions
    // function responsivefy2(svg) {
    //     // scatterDiv2 is the parent node of scatterplot SVG
    //     // set the container's width & height equal to the SVG width & height
    //     var scatterContainer2 = d3.select(".scatterDiv2"),
    //         width = parseInt(svg.style("width")),
    //         height = parseInt(svg.style("height")),
    //         aspect = width / height;
    
    //     // assign values for viewBox and preserveAspectRatio properties
    //     // call resize so that svg resizes on inital page load
    //     svg.attr("viewBox", "0 0 " + width + " " + height)
    //         .attr("perserveAspectRatio", "xMinYMid")
    //         .call(resize);
    
    //     // to register multiple listeners for same event type, 
    //     // you need to add namespace, i.e., 'click.foo'
    //     // necessary if you call invoke this function for multiple svgs
    //     // api docs: https://github.com/mbostock/d3/wiki/Selections#on
    //     // d3.select(window).on("resize." + scatterContainer2.attr("id"), resize);
    //     // const heightOutput = document.querySelector('#height');
    //     // const widthOutput = document.querySelector('#width');
    //     // function reportWindowSize() {
    //     //     heightOutput.textContent = window.innerHeight;
    //     //     widthOutput.textContent = window.innerWidth;
    //     // }
    //     // window.resize(reportWindowSize)
    //     // window.onresize = resize;
    //     window.addEventListener('resize', resize);
    //     // get width of scatterContainer2 and resize svg to fit it
    //     function resize() {
    //         var targetWidth = parseInt(scatterContainer2.style("width"));
    //         svg.attr("width", targetWidth);
    //         svg.attr("height", Math.round(targetWidth / aspect));
    //     }
    // }
    
    // let typeColors = {
    //     "bug": "#336600",
    //     "dark": "#1a001a",
    //     "dragon": "#4775d1",
    //     "elecric": "#ffcc00",
    //     "fairy": "#ff66ff",
    //     "fighting": "#cc5200",
    //     "fire": "#cc3300",
    //     "flying": "#6699cc",
    //     "ghost": "#660066",
    //     "grass": "#00cc00",
    //     "ground": "#604020",
    //     "ice": "#ccffff",
    //     "normal": "#b3b3b3",
    //     "poison": "#cc00ff",
    //     "psychic": "#ffff4d",
    //     "rock": "#404040",
    //     "steel": "#9494b8",
    //     "water": "#3366cc",
    //     "": "type1"
    // }
    
    // set dimensions and margins of scatterplot
    var margin = {top: 40, right: 50, bottom: 60, left: 65},
        width = window.innerWidth - margin.left - margin.right - 30,
        height = 600 - margin.top - margin.bottom;
    
    // set the ranges of x and y axes
    var x = d3.scaleLinear().range([0, width]);
    var y = d3.scaleLinear().range([height, 0]);
    
    // svg create and setup + group element create/append that sets area to start in the corner with margins applied
    var svg2 = d3.select(".scatterDiv2").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .attr("color", "red")
        .attr("style", "background-color: lightgray")
        .call(responsivefy)
    .append("g")
        .attr("transform",
              "translate(" + margin.left + "," + margin.top + ")");
    
    svg2.append('text')
        .attr('x', width / 2)
        .attr('y', -10)
        .style('font-size', 30)
        .style('text-anchor', 'middle')
        .text('Pokemon Stats Compared')
    
    svg2.append('text')
        .attr("transform", "rotate(-90)")
        .attr('x', -height / 2)
        .attr('y', -margin.left / 1.5)
        .style('font-size', 20)
        .style('text-anchor', 'middle')
        .text('Total base stats')
    
    svg2.append('text')
        .attr('x', width / 2)
        .attr('y', height + margin.bottom / 1.5)
        .style('font-size', 20)
        .style('text-anchor', 'middle')
        .text('Capture rate')
    
    
    // Get the data and process data within a large function
    d3.csv("{{url_for('static', filename='data/pokemon.csv')}}").then(function(data) {
    
        // format data
        data.forEach(function(d) {
            d.capture_rate = +d.capture_rate;
            d.base_total = +d.base_total;
        });
    
        // Setup domain of data
        x.domain([0, d3.max(data, function(d) { return d.capture_rate; }) + 5]);
        y.domain([d3.min(data, function(d) { return d.base_total; }) - 10, d3.max(data, function(d) { return d.base_total; }) + 20]);
        
        // create defs, linear gradient, and stop elements with appropriate settings
        var defs = svg2.append("defs")
        for (type1 in typeColors) {
            for (type2 in typeColors) {
                var linGrad = defs.append("linearGradient")
                    .attr("id", type1 + type2)
                    .attr("x1", 0)
                    .attr("x2", 1)
                    .attr("y1", 0)
                    .attr("y2", 1)
    
                linGrad.append("stop")
                    .attr("offset", "0%")
                    .attr("stop-color", typeColors[type1])
                
                linGrad.append("stop")
                    .attr("offset", "100%")
                    .attr("stop-color", typeColors[type2])
            }
        }
                
        // Add all dots for the scatterplot
        svg2.selectAll("dot")
            .data(data)
        .enter().append("circle")
            .attr("r", 5)
            .attr("cx", function(d) { return x(d.capture_rate); })
            .attr("cy", function(d) { return y(d.base_total); })
            .attr("fill", function(d) {
                return "url(#" + d.type1 + d.type2 + ")"
            })
    
        // Add x Axis
        svg2.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));
    
        // Add y Axis
        svg2.append("g")
            .call(d3.axisLeft(y));
    
    });
    </script>