<script>

// ---------------------------d3.csv()--------------------------------//

// Variable declarations and processing
	// Format data
	// y and x axis variable name declarations
	// Other variable declarations
	// defs/linearGradients/stops for coloring dots
	// hide/hidehandler
// Function declarations
	// hslDarken
	// y dropdown menu handler
	// x dropdown menu handler
	// checkbox handlers
	// updateScatter function declaration
		// Collect garbage
		// Reset/Filter/Format/Create
			// Reset tempData
			// Filter tempData
			// Domain setup
			// Regression Line - declarations for vars/functions and creation of line
			// Add rect for x axis
			// Call varNameFormat() - define formatted variable names
			// Call enterDots
			// Add x and y axes
			// Add grid
			// Add x and y axes text
			// Add scatterTitle and corresponding rect
// Function declarations cont.
	// varNameFormat declaration with tuple xAxisVarFormatted, yAxisVarFormatted declarations
	// enterDots declaration
	// exitDots declaration
// Run initialization/function calls
	// enterDots()



// Get the data and process data within a large function
d3.csv("{{url_for('static', filename='data/pokemon.csv')}}").then(function(data) {

// -----------------------Variable declarations and processing--------------------------------//

	// format data from strings to numbers
	data.forEach(function(d) {
		d.capture_rate = +d.capture_rate;
		d.base_total = +d.base_total;
		d.attack = +d.attack;
		d.defense = +d.defense;
		d.hp = +d.hp;
		d.sp_attack = +d.sp_attack;
		d.sp_defense = +d.sp_defense;
		d.speed = +d.speed;
		d.height_m = +d.height_m;
		d.weight_kg = +d.weight_kg;
	});

	let xAxisVar = "capture_rate"
	let yAxisVar = "base_total"
	let filtVar = ""
	let filtSingDuelVar = ""

	let xAxis
	let yAxis
	let tempData
	let grid

	// create defs, linear gradient, and stop elements with appropriate settings
	var defs = scatterSvg.append("defs")
	for (type1 in typeColors) {
		for (type2 in typeColors) {
			var linGrad = defs.append("linearGradient")
				.attr("id", type1 + type2)
				.attr("x1", 0)
				.attr("x2", 1)
				.attr("y1", 0)
				.attr("y2", 1)

			linGrad.append("stop")
				.attr("offset", "0%")
				.attr("stop-color", typeColors[type1])
			
			linGrad.append("stop")
				.attr("offset", "100%")
				.attr("stop-color", typeColors[type2])
		}
	}
	for (type1 in typeColors) {
		for (type2 in typeColors) {
			var linGradDark = defs.append("linearGradient")
				.attr("id", type1 + type2 + "dark")
				.attr("x1", 0)
				.attr("x2", 1)
				.attr("y1", 0)
				.attr("y2", 1)

			linGradDark.append("stop")
				.attr("offset", "0%")
				.attr("stop-color", hslDarken(typeColors[type1]))
			
			linGradDark.append("stop")
				.attr("offset", "100%")
				.attr("stop-color", hslDarken(typeColors[type2]))
		}
	}

	// set scatterplot Tooltip display to none once it is fully transparent for better user experience (fewer issues with hovering over where tooltip text was which causes cursor issues)
	let hide = function() {scatterplotTooltip.style("display", "none")}
	let hideHandler


// -----------------------Function declarations--------------------------------//


	// function to darken a point
	function hslDarken(d) {
		// check to see if data is an object or a color and split the color on comma
		let tempArr
		if (typeof d === "string") {
			tempArr = d.split(",")
		} else {
			tempArr = typeColors[d.type1].split(",")
		}

		// darken light value from hsl color by 4%
		let l = parseInt(tempArr[2].slice(0,-2)) - 4
		tempArr[2] = l
		tempArr[tempArr.length - 1] = tempArr[tempArr.length - 1] + "%)"

		// stringify color from array back into hsl format
		let tempColor = ""
		for (elem in tempArr) {
			tempColor += tempArr[elem] + ","
		}
		return tempColor.slice(0,-1)
	}

	// handles y Variable dropdown menu change
	yDropdown.on("change", function() {
		// update yAxisVar's value
		let elem = document.querySelector(':focus')
		if (elem) elem.blur()
		yAxisVar = this.value
		updateScatter(xAxisVar, yAxisVar, filtVar)
	})

	// handles x Variable dropdown menu change
	xDropdown.on("change", function() {
		// update xAxisVar's value
		let elem = document.querySelector(':focus')
		if (elem) elem.blur()
		xAxisVar = this.value
		updateScatter(xAxisVar, yAxisVar, filtVar)
	})

	// handles x Variable dropdown menu change
	filtDropdown.on("change", function() {
		// update which Pokemon type is displayed
		let elem = document.querySelector(':focus')
		if (elem) elem.blur()
		filtVar = this.value
		updateScatter(xAxisVar, yAxisVar, filtVar)
	})

	checkboxSingleInput.on("change", function() {
		updateScatter(xAxisVar, yAxisVar, filtVar)
	})
	
	checkboxDualInput.on("change", function() {
		updateScatter(xAxisVar, yAxisVar, filtVar)
	})

	function updateScatter(xAxisVar, yAxisVar, filtVar, start=false) {

		// remove all information that could be changed except for dots which follow after filtering
		scatterSvg.selectAll('text')
			.data([])
			.exit()
			.remove()

		if (xAxis) {
			xAxis.data([]).exit().remove()
		}
		if (yAxis) {
			yAxis.data([]).exit().remove()
		}
		if (grid) {
			grid.data([]).exit().remove()
		}

		// reset tempData to be equal to data
		tempData = data

	// Filter according to type chosen from dropdown menu
		if (filtVar === "") {
			tempData = tempData
		} else {
			tempData = tempData.filter(function(d){ return d.type1 === filtVar || d.type2 === filtVar})
		}
	// Filter according to checkboxes for single and dual type
		if (checkboxSingleInput.property("checked")) {
			if (checkboxDualInput.property("checked")) {
				// show both single and dual type Pokemon (default)
				tempData = tempData
				filtSingDuelVar = ""
			} else {
				// show only single type Pokemon
				tempData = tempData.filter(function(d){ return d.type2 === ""})
				filtSingDuelVar = "Single-Type"
			}
		} else {
			if (checkboxDualInput.property("checked")) {
				// show only dual type Pokemon
				tempData = tempData.filter(function(d){ return d.type2 !== ""})
				filtSingDuelVar = "Dual-Type"
			} else {
				// show no Pokemon
				tempData = []
				filtSingDuelVar = "No"
			}
		}

	// Process data

		// reset domain
		x.domain([0, d3.max(tempData, function(d) { return d[xAxisVar]; }) + 5]);
		y.domain([d3.min(tempData, function(d) { return d[yAxisVar]; }) - 10, d3.max(tempData, function(d) { return d[yAxisVar]; }) + 20]);

		// Add grid
		grid = scatterSvg.append("g")		
			.attr("stroke", "currentColor")
			.attr("stroke-opacity", 0.1)
		.call(g => g.append("g")
			.selectAll("line")
			.data(x.ticks())
			.join("line")
				.attr("x1", d => 0.5 + x(d))
				.attr("x2", d => 0.5 + x(d))
				.attr("y1", 0)
				.attr("y2", height))
		.call(g => g.append("g")
			.selectAll("line")
			.data(y.ticks())
			.join("line")
				.attr("y1", d => 0.5 + y(d))
				.attr("y2", d => 0.5 + y(d))
				.attr("x1", 0)
				.attr("x2", width))

	//---------------------Regression line-------------------//

		let [regressionPoints, regressionLine] = computeRegLine()
		if (start) {
			initRegLine(regressionPoints, regressionLine)
		} else {
			updateRegLine(regressionPoints, regressionLine)
		}




		// rect that blocks out regression line passing through x axis
		scatterSvg.append('rect')
			.attr("x", "80px")
			.attr("y", height + "px")
			.attr("width", "100vw")
			.attr("height", margin.bottom)
			.attr("fill", "white")
			.style('text-anchor', 'middle')
			.text(" ")

		// format x and y axes for display in tooltips and axes
		let [xAxisVarFormatted, yAxisVarFormatted, filtVarFormatted] = varNameFormat(xAxisVar, yAxisVar, filtVar)

		// create all new dots with correct location
		enterDots(tempData, xAxisVarFormatted, yAxisVarFormatted)

		// Add x Axis
		xAxis = scatterSvg.append("g")
			.attr("transform", "translate(0," + height + ")")
			.call(d3.axisBottom(x));

		// Add y Axis
		yAxis = scatterSvg.append("g")
			.call(d3.axisLeft(y));

		// y and x axes names
		scatterSvg.append('text')
			.attr("transform", "rotate(-90)")
			.attr('x', -height / 2)
			.attr('y', -margin.left / 1.5)
			.style('font-size', 20)
			.style('text-anchor', 'middle')
			.text(yAxisVarFormatted)

		scatterSvg.append('text')
			.attr('x', width / 2)
			.attr('y', height + margin.bottom / 2)
			.style('font-size', 20)
			.style('text-anchor', 'middle')
			.text(xAxisVarFormatted)


		// rect that blocks out regression line passing through title
		scatterSvg.append('rect')
			.attr("x", "0px")
			.attr("y", "-85px")
			.attr("width", "100vw")
			.attr("height", 81)
			.attr("fill", "white")
			.style('text-anchor', 'middle')
			.text(" ")

		// set title of scatterplot
		scatterSvg.append('text')
			.attr("class", "scatterTitle")
			.attr('x', width / 2)
			.attr('y', -20)
			.style('font-size', 25)
			.style('text-anchor', 'middle')
			.text(filtSingDuelVar + " " + filtVarFormatted + " Pokemon: " + yAxisVarFormatted + " vs. " + xAxisVarFormatted)

	}


//-------------------------Function declarations cont.-------------------------------//

	// formatting x and y axis variables for displaying with Capitalized first letters and no underscores
	function varNameFormat(xAxisVar, yAxisVar, filtVar) {
		let filtVarFormatted = filtVar.charAt(0).toUpperCase() + filtVar.substring(1)
		let tempArrX = xAxisVar.split("_")
		let xAxisVarFormatted = tempArrX[0].charAt(0).toUpperCase() + tempArrX[0].substring(1) + " " + tempArrX[1].charAt(0).toUpperCase() + tempArrX[1].substring(1)
		let tempArrY = yAxisVar.split("_")
		let yAxisVarFormatted
		if (tempArrY.length > 1) {
			yAxisVarFormatted = tempArrY[0].charAt(0).toUpperCase() + tempArrY[0].substring(1) + " " + tempArrY[1].charAt(0).toUpperCase() + tempArrY[1].substring(1)
			return [xAxisVarFormatted, yAxisVarFormatted, filtVarFormatted]
		} else {
			yAxisVarFormatted = tempArrY[0].charAt(0).toUpperCase() + tempArrY[0].substring(1)
			return [xAxisVarFormatted, yAxisVarFormatted, filtVarFormatted]
		}
	}


	// Compute Regression Line
	function computeRegLine() {

		linearRegression = ss.linearRegression(tempData.map(d => [d[xAxisVar], d[yAxisVar]]))

		linearRegressionLine = ss.linearRegressionLine(linearRegression)

		let firstX = d3.min(tempData, function(d) { return d[xAxisVar]; });
		let lastX = d3.max(tempData, function(d) { return d[xAxisVar]; });
		let xCoordinates = [firstX, lastX];

		// these x and y keys coordinate with the line variable below
		let regressionPoints = xCoordinates.map(d => ({
			x: d,
			y: linearRegressionLine(d)
		}));

		regressionLine = d3.line()
			.x(d => x(d.x))
			.y(d => y(d.y))

		return [regressionPoints, regressionLine]
	}

	// Initialize/Create Regression Line
	function initRegLine(regressionPoints, regressionLine) {
		scatterSvg.append('path')
			.classed('regressionLine', true)
			.datum(regressionPoints)
			.attr('d', regressionLine)
			.attr('stroke', '#e44040')
			.attr('stroke-width', 2)
			.style('opacity', 0)
			.transition()
			.duration(5000)
				.style("opacity", 1)
	}

	// Update Regression Line
	function updateRegLine(regressionPoints, regressionLine) {

		scatterSvg.select("path")
			.classed('regressionLine', true)
            .datum(regressionPoints)
            .transition()
            .duration(5000)
            	.attr("d", regressionLine)
	}


	// Add all dots for the scatterplot
	function enterDots(data, xAxisVarFormatted, yAxisVarFormatted) {
		scatterSvg.selectAll("circle")
			.data(data, d => d.name)
		.join(
		enter => enter.append("circle")
			.on("mouseover", function(d, i) { // show it and update html
				if (hideHandler) {
					clearTimeout(hideHandler)
				}

				let html = "<span class='tooltiptext'>" + "<b>" + d.name + "</b>" + "<br/>" + xAxisVarFormatted + ": " + d[xAxisVar] + "<br/>" + yAxisVarFormatted + ": " + d[yAxisVar]

				scatterplotTooltip.style("display", "block").html(html)
					.transition()
					.duration(500)
					.style("opacity", .9);
			})
			.on("mousemove", function(d, i) {
				let tempHeight = d3.select(".scatterplotTooltip").node().getBoundingClientRect().height
				let tempWidth = d3.select(".scatterplotTooltip").node().getBoundingClientRect().width
				console.log(tempHeight)
				
				scatterplotTooltip
					.style("left", (d3.event.offsetX - (tempWidth / 2) - 0.5) + "px")
					.style("top", (d3.event.offsetY - tempHeight - 12) + "px");
			})
			.on("mouseout", function(d, i) {
				scatterplotTooltip.transition()
					.duration(500)
					.style("opacity", 0)

				hideHandler = setTimeout(hide, 550)
			})
			.attr("r", 5)
			.attr("cx", 0)
			.attr("cy", height)
			.attr("fill", function(d) {
				if (d.type2 === "") {
					return typeColors[d.type1]
				}
				return "url(#" + d.type1 + d.type2 + ")"
			})
			.attr("stroke", function(d) {
				if (d.type2 === "") {
					// color is in hsl format
					return hslDarken(d)
				}
				return "url(#" + d.type1 + d.type2 + "dark)"
			})
		.call(enter => enter
			.transition()
			.duration(5000)
			.attr("cx", function(d) { return x(d[xAxisVar]); })
			.attr("cy", function(d) { return y(d[yAxisVar]); })
			),
		update => update
		.call(update => update
			.transition()
			.duration(5000)
			.attr("cx", d => x(d[xAxisVar]))
			.attr("cy", d => y(d[yAxisVar]))
			),
		exit => exit
		.call(exit => exit
			.transition()
			.duration(5000)
			.attr("cx", 0)
			.attr("cy", height)
			.remove()
			)
		)
	}


// -------------------Run initializations/Function calls------------------------//

	updateScatter(xAxisVar, yAxisVar, filtVar, start=true)

});
</script>