<script>

// set dimensions and margins of scatterplot
var margin = {top: 40, right: 50, bottom: 60, left: 65},
	width = window.innerWidth - margin.left - margin.right - 30,
	height = 600 - margin.top - margin.bottom;

// set the ranges of x and y axes
var x = d3.scaleLinear().range([0, width]);
var y = d3.scaleLinear().range([height, 0]);

// svg create and setup + group element create/append that sets area to start in the corner with margins applied
var svg = d3.select(".scatterDiv").append("svg")
	.attr("width", width + margin.left + margin.right)
	.attr("height", height + margin.top + margin.bottom)
	.attr("color", "red")
	.attr("style", "background-color: lightgray")
	.call(responsivefy)
.append("g")
	.attr("transform",
		  "translate(" + margin.left + "," + margin.top + ")");

svg.append('text')
	.attr('x', width / 2)
	.attr('y', -10)
	.style('font-size', 30)
	.style('text-anchor', 'middle')
	.text('Pokemon Stats Compared')

svg.append('text')
	.attr("transform", "rotate(-90)")
	.attr('x', -height / 2)
	.attr('y', -margin.left / 1.5)
	.style('font-size', 20)
	.style('text-anchor', 'middle')
	.text('Total base stats')

svg.append('text')
	.attr('x', width / 2)
	.attr('y', height + margin.bottom / 1.5)
	.style('font-size', 20)
	.style('text-anchor', 'middle')
	.text('Capture rate')


// Get the data and process data within a large function
d3.csv("{{url_for('static', filename='data/pokemon.csv')}}").then(function(data) {

	// format data
	data.forEach(function(d) {
		d.capture_rate = +d.capture_rate;
		d.base_total = +d.base_total;
	});

	// Setup domain of data
	x.domain([0, d3.max(data, function(d) { return d.capture_rate; }) + 5]);
	y.domain([d3.min(data, function(d) { return d.base_total; }) - 10, d3.max(data, function(d) { return d.base_total; }) + 20]);
	
	// create defs, linear gradient, and stop elements with appropriate settings
	var defs = svg.append("defs")
	for (type1 in typeColors) {
		for (type2 in typeColors) {
			var linGrad = defs.append("linearGradient")
				.attr("id", type1 + type2)
				.attr("x1", 0)
				.attr("x2", 1)
				.attr("y1", 0)
				.attr("y2", 1)

			linGrad.append("stop")
				.attr("offset", "0%")
				.attr("stop-color", typeColors[type1])
			
			linGrad.append("stop")
				.attr("offset", "100%")
				.attr("stop-color", typeColors[type2])
		}
	}
			
	// Add all dots for the scatterplot
	svg.selectAll("dot")
		.data(data)
	.enter().append("circle")
		.attr("r", 5)
		.attr("cx", function(d) { return x(d.capture_rate); })
		.attr("cy", function(d) { return y(d.base_total); })
		.attr("fill", function(d) {
			return "url(#" + d.type1 + d.type2 + ")"
		})

	// Add x Axis
	svg.append("g")
		.attr("transform", "translate(0," + height + ")")
		.call(d3.axisBottom(x));

	// Add y Axis
	svg.append("g")
		.call(d3.axisLeft(y));

	linearRegression = ss.linearRegression(data.map(d => [d.capture_rate, d.base_total]))

	linearRegressionLine = ss.linearRegressionLine(linearRegression)

	const firstX = d3.min(data, function(d) { return d.capture_rate; });
	const lastX = d3.max(data, function(d) { return d.capture_rate; });
	const xCoordinates = [firstX, lastX];
	
	let regressionPoints = xCoordinates.map(d => ({
		x: d,                         // We pick x and y arbitrarily, just make sure they match d3.line accessors
		y: linearRegressionLine(d)
	}));

	// xScale = d3.scaleLinear()
    //        .domain([0, d3.max(data, d => d.capture_rate)])
    //        .range([margin.left, width - margin.right])

	// yScale = d3.scaleLinear()
    //        .domain([0, d3.max(data, d => d.base_total)]) // added a bit of breathing room (20,000)
	// 	   .range([height - margin.bottom, margin.top])
		   
	line = d3.line()
		.x(d => x(d.x))
		.y(d => y(d.y))

	// var lineGenerator = d3.line();
	// var pathString = line(data);

	// d3.select('path')
	// 	.attr('d', pathString);

	svg.append('path')
		.classed('regressionLine', true)
		.datum(regressionPoints)
		.attr('d', line);
	
});
</script>