<script>

// -----------------------Initial setup--------------------------------//

// Setup size of svg/dimensions
// Setup domain of x and y
// Setup scatterplotTooltip
// Setup dropdown menus & checkboxes


// ---------------------------d3.csv()--------------------------------//

// Variable declarations and processing
	// Format data
	// y and x axis variable name declarations
	// Other variable declarations
	// defs/linearGradients/stops for coloring dots
	// hide/hidehandler
// Function declarations
	// y dropdown menu handler
	// x dropdown menu handler
	// checkbox handlers
	// updateScatter function declaration
		// Collect garbage
		// Reset/Filter/Format/Create
			// Reset tempData
			// Filter tempData
			// Domain setup
			// Regression Line - declarations for vars/functions and creation of line
			// Add rect for x axis
			// Call varNameFormat() - define formatted variable names
			// Call enterDots
			// Add x and y axes
			// Add grid
			// Add x and y axes text
			// Add scatterTitle and corresponding rect
// Function declarations cont.
	// varNameFormat declaration with tuple xAxisVarFormatted, yAxisVarFormatted declarations
	// enterDots declaration
	// exitDots declaration
// Run initialization/function calls
	// enterDots()





// set/calculate variables for dimensions and margins of scatterplot
var margin = {top: 60, right: 50, bottom: 60, left: 65},
	width = window.innerWidth - margin.left - margin.right - 30,
	height = window.innerHeight - margin.top - margin.bottom;

// set the ranges of x and y axes
var x = d3.scaleLinear().range([0, width]);
var y = d3.scaleLinear().range([height, 0]);

// scatterSvg create and setup + group element create/append that sets area to start in the corner with margins applied
var scatterSvg = d3.select(".scatterDiv").append("svg")
	.attr("width", width + margin.left + margin.right)
	.attr("height", height + margin.top + margin.bottom)
	.attr("color", "black")
	.attr("style", "background-color: white")
	.call(responsivefy)
.append("g")
	.attr("transform",
		  "translate(" + margin.left + "," + margin.top + ")");

let scatterplotTooltip = d3.select('.scatterDiv').append('div')
	.attr('class', 'scatterplotTooltip')
	.style("position", "absolute")
	.style("opacity", 0)
	.style("border", "1px solid black")
	.style("padding", "5px")
	.style("background-color", "white")
	.style("cursor", "default")
	.style("top", "0px")
	.style("left", "50%")

let yDropdownLabel = d3.select('.scatterDiv').append('label')
	.text("Y Variable")
	.style("position", "absolute")
	.style("right", (margin.right / 2) + "px")
	.style("top", (margin.top / 4) + "px")

let yDropdown = yDropdownLabel.append('select')
	.attr("class", "yDropdown")
	.style("display", "block")

yDropdown.append('option')
	.text("Base Total")
	.attr("value", "base_total")

yDropdown.append('option')
	.text("Attack")
	.attr("value", "attack")

yDropdown.append('option')
	.text("Defense")
	.attr("value", "defense")

yDropdown.append('option')
	.text("Hp")
	.attr("value", "hp")

yDropdown.append('option')
	.text("Sp Attack")
	.attr("value", "sp_attack")

yDropdown.append('option')
	.text("Sp Defense")
	.attr("value", "sp_defense")

yDropdown.append('option')
	.text("Speed")
	.attr("value", "speed")

let xDropdownLabel = d3.select('.scatterDiv').append('label')
	.text("X Variable")
	.style("position", "absolute")
	.style("right", (margin.right * 2.6) + "px")
	.style("top", (margin.top / 4) + "px")

let xDropdown = xDropdownLabel.append('select')
	.attr("class", "xDropdown")
	.style("display", "block")

xDropdown.append('option')
	.text("Capture Rate")
	.attr("value", "capture_rate")

xDropdown.append('option')
	.text("Weight Kg")
	.attr("value", "weight_kg")

xDropdown.append('option')
	.text("Height M")
	.attr("value", "height_m")

let filterDropdownLabel = d3.select('.scatterDiv').append('label')
	.text("Type Filter")
	.style("position", "absolute")
	.style("right", (margin.right * 4.8) + "px")
	.style("top", (margin.top / 4) + "px")

let filtDropdown = filterDropdownLabel.append('select')
	.attr("class", "filtDropdown")
	.style("display", "block")

filtDropdown.append('option')
	.text("All")
	.attr("value", "")

filtDropdown.append('option')
	.text("Bug")
	.attr("value", "bug")

filtDropdown.append('option')
	.text("Dark")
	.attr("value", "dark")

filtDropdown.append('option')
	.text("Dragon")
	.attr("value", "dragon")

filtDropdown.append('option')
	.text("Electric")
	.attr("value", "electric")

filtDropdown.append('option')
	.text("Fairy")
	.attr("value", "fairy")

filtDropdown.append('option')
	.text("Fighting")
	.attr("value", "fighting")

filtDropdown.append('option')
	.text("Fire")
	.attr("value", "fire")

filtDropdown.append('option')
	.text("Flying")
	.attr("value", "flying")

filtDropdown.append('option')
	.text("Ghost")
	.attr("value", "ghost")

filtDropdown.append('option')
	.text("Grass")
	.attr("value", "grass")

filtDropdown.append('option')
	.text("Ground")
	.attr("value", "ground")

filtDropdown.append('option')
	.text("Ice")
	.attr("value", "ice")

filtDropdown.append('option')
	.text("Normal")
	.attr("value", "normal")

filtDropdown.append('option')
	.text("Poison")
	.attr("value", "poison")

filtDropdown.append('option')
	.text("Psychic")
	.attr("value", "psychic")

filtDropdown.append('option')
	.text("Rock")
	.attr("value", "rock")

filtDropdown.append('option')
	.text("Steel")
	.attr("value", "steel")

filtDropdown.append('option')
	.text("Water")
	.attr("value", "water")

let checkboxSingleLabel = d3.select('.scatterDiv').append('label')
	.text("Single-Type")
	.style("position", "absolute")
	.style("left", (margin.left) + "px")
	.style("top", (margin.top / 4) + "px")

let checkboxSingleInput = checkboxSingleLabel.append('input')
	.attr("type", "checkbox")
	.attr("checked", "checked")
	.attr("value", "dual")
	.style("display", "block")

let checkboxDualLabel = d3.select('.scatterDiv').append('label')
	.text("Dual-Type")
	.style("position", "absolute")
	.style("left", (margin.left * 2.5) + "px")
	.style("top", (margin.top / 4) + "px")

let checkboxDualInput = checkboxDualLabel.append('input')
	.attr("type", "checkbox")
	.attr("checked", "checked")
	.attr("value", "dual")
	.style("display", "block")


// Get the data and process data within a large function
d3.csv("{{url_for('static', filename='data/pokemon.csv')}}").then(function(data) {

// -----------------------Variable declarations and processing--------------------------------//

	// Test filtering data (remove all pokemon from data that have capture_rate === 120)
	// data = data.filter(function(d){ return d.capture_rate != "120" })
	// data = data.filter(function(d){ return d.type2 === "fire"})

	// format data from strings to numbers
	data.forEach(function(d) {
		d.capture_rate = +d.capture_rate;
		d.base_total = +d.base_total;
		d.attack = +d.attack;
		d.defense = +d.defense;
		d.hp = +d.hp;
		d.sp_attack = +d.sp_attack;
		d.sp_defense = +d.sp_defense;
		d.speed = +d.speed;
		d.height_m = +d.height_m;
		d.weight_kg = +d.weight_kg;
	});

	let xAxisVar = "capture_rate"
	let yAxisVar = "base_total"
	let filtVar = ""
	let filtSingDuelVar = ""

	let xAxis
	let yAxis
	let tempData
	let grid

	// create defs, linear gradient, and stop elements with appropriate settings
	var defs = scatterSvg.append("defs")
	for (type1 in typeColors) {
		for (type2 in typeColors) {
			var linGrad = defs.append("linearGradient")
				.attr("id", type1 + type2)
				.attr("x1", 0)
				.attr("x2", 1)
				.attr("y1", 0)
				.attr("y2", 1)

			linGrad.append("stop")
				.attr("offset", "0%")
				.attr("stop-color", typeColors[type1])
			
			linGrad.append("stop")
				.attr("offset", "100%")
				.attr("stop-color", typeColors[type2])
		}
	}
	for (type1 in typeColors) {
		for (type2 in typeColors) {
			var linGradDark = defs.append("linearGradient")
				.attr("id", type1 + type2 + "dark")
				.attr("x1", 0)
				.attr("x2", 1)
				.attr("y1", 0)
				.attr("y2", 1)

			linGradDark.append("stop")
				.attr("offset", "0%")
				.attr("stop-color", hslDarken(typeColors[type1]))
			
			linGradDark.append("stop")
				.attr("offset", "100%")
				.attr("stop-color", hslDarken(typeColors[type2]))
		}
	}

	// set scatterplot Tooltip display to none once it is fully transparent for better user experience (fewer issues with hovering over where tooltip text was which causes cursor issues)
	let hide = function() {scatterplotTooltip.style("display", "none")}
	let hideHandler


// -----------------------Function declarations--------------------------------//


	// function to darken a point
	function hslDarken(d) {
		// check to see if data is an object or a color
		let tempArr
		if (typeof d === "string") {
			tempArr = d.split(",")
		} else {
			tempArr = typeColors[d.type1].split(",")
		}
		// console.log(tempArr)
		// console.log(tempArr[2])
		// console.log(tempArr[2].slice(0,-2))
		let l = parseInt(tempArr[2].slice(0,-2)) - 4
		// not needed
		// if (l < 0) l = 0
		tempArr[2] = l
		// console.log(tempArr)
		// console.log(tempArr[-1])
		tempArr[tempArr.length - 1] = tempArr[tempArr.length - 1] + "%)"
		let tempColor = ""
		for (elem in tempArr) {
			tempColor += tempArr[elem] + ","
		}
		tempColor = tempColor.slice(0,-1) 
		// console.log(tempColor)
		return tempColor
	}

	// handles y Variable dropdown menu change
	yDropdown.on("change", function() {
		// update yAxisVar's value
		let elem = document.querySelector(':focus')
		if (elem) elem.blur()
		yAxisVar = this.value
		updateScatter(xAxisVar, yAxisVar, filtVar)
	})

	// handles x Variable dropdown menu change
	xDropdown.on("change", function() {
		// update xAxisVar's value
		let elem = document.querySelector(':focus')
		if (elem) elem.blur()
		xAxisVar = this.value
		updateScatter(xAxisVar, yAxisVar, filtVar)
	})

	// handles x Variable dropdown menu change
	filtDropdown.on("change", function() {
		// update which Pokemon type is displayed
		let elem = document.querySelector(':focus')
		if (elem) elem.blur()
		filtVar = this.value
		updateScatter(xAxisVar, yAxisVar, filtVar)
	})

	checkboxSingleInput.on("change", function() {
		updateScatter(xAxisVar, yAxisVar, filtVar)
	})
	
	checkboxDualInput.on("change", function() {
		updateScatter(xAxisVar, yAxisVar, filtVar)
	})

	function updateScatter(xAxisVar, yAxisVar, filtVar) {

		// remove all information that could be changed
		exitDots()
		scatterSvg.selectAll('text')
			.data([])
			.exit()
			.remove()
		
		scatterSvg.select('.regressionLine')
			.data([])
			.exit()
			.remove()

		if (xAxis) {
			xAxis.data([]).exit().remove()
		}
		if (yAxis) {
			yAxis.data([]).exit().remove()
		}
		if (grid) {
			grid.data([]).exit().remove()
		}

		// reset tempData to be equal to data
		tempData = data

	// Filter according to type chosen from dropdown menu
		if (filtVar === "") {
			tempData = tempData
		} else {
			tempData = tempData.filter(function(d){ return d.type1 === filtVar || d.type2 === filtVar})
		}
	// Filter according to checkboxes for single and dual type
		if (checkboxSingleInput.property("checked")) {
			if (checkboxDualInput.property("checked")) {
				// show both single and dual type Pokemon (default)
				tempData = tempData
				filtSingDuelVar = ""
			} else {
				// show only single type Pokemon
				tempData = tempData.filter(function(d){ return d.type2 === ""})
				filtSingDuelVar = "Single-Type"
			}
		} else {
			if (checkboxDualInput.property("checked")) {
				// show only dual type Pokemon
				tempData = tempData.filter(function(d){ return d.type2 !== ""})
				filtSingDuelVar = "Dual-Type"
			} else {
				// show no Pokemon
				tempData = []
				filtSingDuelVar = "No"
			}
		}

	// Process data

		// reset domain
		x.domain([0, d3.max(tempData, function(d) { return d[xAxisVar]; }) + 5]);
		y.domain([d3.min(tempData, function(d) { return d[yAxisVar]; }) - 10, d3.max(tempData, function(d) { return d[yAxisVar]; }) + 20]);

		// Add grid
		grid = scatterSvg.append("g")		
			.attr("stroke", "currentColor")
			.attr("stroke-opacity", 0.1)
		.call(g => g.append("g")
			.selectAll("line")
			.data(x.ticks())
			.join("line")
				.attr("x1", d => 0.5 + x(d))
				.attr("x2", d => 0.5 + x(d))
				.attr("y1", 0)
				.attr("y2", height))
		.call(g => g.append("g")
			.selectAll("line")
			.data(y.ticks())
			.join("line")
				.attr("y1", d => 0.5 + y(d))
				.attr("y2", d => 0.5 + y(d))
				.attr("x1", 0)
				.attr("x2", width))

	//---------------------Regression line-------------------//

		linearRegression = ss.linearRegression(tempData.map(d => [d[xAxisVar], d[yAxisVar]]))

		linearRegressionLine = ss.linearRegressionLine(linearRegression)

		let firstX = d3.min(tempData, function(d) { return d[xAxisVar]; });
		let lastX = d3.max(tempData, function(d) { return d[xAxisVar]; });
		let xCoordinates = [firstX, lastX];

		// these x and y keys coordinate with the line variable below
		let regressionPoints = xCoordinates.map(d => ({
			x: d,
			y: linearRegressionLine(d)
		}));
		
		regressionLine = d3.line()
			.x(d => x(d.x))
			.y(d => y(d.y))

		scatterSvg.append('path')
			.classed('regressionLine', true)
			.datum(regressionPoints)
			.attr('d', regressionLine)
			.attr('stroke', '#e44040')
			.attr('stroke-width', 2);




		// rect that blocks out regression line passing through x axis
		scatterSvg.append('rect')
			.attr("x", "0px")
			.attr("y", height + "px")
			.attr("width", "100vw")
			.attr("height", margin.bottom)
			.attr("fill", "white")
			.style('text-anchor', 'middle')
			.text(" ")

		//Keeping these comments for now
		// updatePoints(groupData);
		// enterPoints(groupData);
		// exitPoints(groupData);
		// var group = e.target.value;
		// var groupData = getFilteredData(data, group);

		// format x and y axes for display in tooltips and axes
		let [xAxisVarFormatted, yAxisVarFormatted, filtVarFormatted] = varNameFormat(xAxisVar, yAxisVar, filtVar)

		// create all new dots with correct location
		enterDots(tempData, xAxisVarFormatted, yAxisVarFormatted)

		// Add x Axis
		xAxis = scatterSvg.append("g")
			.attr("transform", "translate(0," + height + ")")
			.call(d3.axisBottom(x));

		// Add y Axis
		yAxis = scatterSvg.append("g")
			.call(d3.axisLeft(y));

		// y and x axes names
		scatterSvg.append('text')
			.attr("transform", "rotate(-90)")
			.attr('x', -height / 2)
			.attr('y', -margin.left / 1.5)
			.style('font-size', 20)
			.style('text-anchor', 'middle')
			.text(yAxisVarFormatted)

		scatterSvg.append('text')
			.attr('x', width / 2)
			.attr('y', height + margin.bottom / 1.5)
			.style('font-size', 20)
			.style('text-anchor', 'middle')
			.text(xAxisVarFormatted)


		// rect that blocks out regression line passing through title
		scatterSvg.append('rect')
			.attr("x", "0px")
			.attr("y", "-85px")
			.attr("width", "100vw")
			.attr("height", 81)
			.attr("fill", "white")
			.style('text-anchor', 'middle')
			.text(" ")

		// set title of scatterplot
		scatterSvg.append('text')
			.attr("class", "scatterTitle")
			.attr('x', width / 2)
			.attr('y', -20)
			// .attr("fill", "#e44040")
			.style('font-size', 25)
			.style('text-anchor', 'middle')
			.text(filtSingDuelVar + " " + filtVarFormatted + " Pokemon: " + yAxisVarFormatted + " vs. " + xAxisVarFormatted)

	}


//-------------------------Function declarations cont.-------------------------------//

	// formatting x and y axis variables for displaying with Capitalized first letters and no underscores
	function varNameFormat(xAxisVar, yAxisVar, filtVar) {
		let filtVarFormatted = filtVar.charAt(0).toUpperCase() + filtVar.substring(1)
		let tempArrX = xAxisVar.split("_")
		let xAxisVarFormatted = tempArrX[0].charAt(0).toUpperCase() + tempArrX[0].substring(1) + " " + tempArrX[1].charAt(0).toUpperCase() + tempArrX[1].substring(1)
		let tempArrY = yAxisVar.split("_")
		let yAxisVarFormatted
		if (tempArrY.length > 1) {
			yAxisVarFormatted = tempArrY[0].charAt(0).toUpperCase() + tempArrY[0].substring(1) + " " + tempArrY[1].charAt(0).toUpperCase() + tempArrY[1].substring(1)
			return [xAxisVarFormatted, yAxisVarFormatted, filtVarFormatted]
		} else {
			yAxisVarFormatted = tempArrY[0].charAt(0).toUpperCase() + tempArrY[0].substring(1)
			return [xAxisVarFormatted, yAxisVarFormatted, filtVarFormatted]
		}
	}

	// Add all dots for the scatterplot
	function enterDots(data, xAxisVarFormatted, yAxisVarFormatted) {
		scatterSvg.selectAll("dot")
			.data(data)
		.enter().append("circle")
			.on("mouseover", function(d, i) { // show it and update html
				if (hideHandler) {
					clearTimeout(hideHandler)
				}

				let html = "<span class='tooltiptext'>" + "<b>" + d.name + "</b>" + "<br/>" + xAxisVarFormatted + ": " + d[xAxisVar] + "<br/>" + yAxisVarFormatted + ": " + d[yAxisVar]

				scatterplotTooltip.style("display", "block").html(html)
					.transition()
					.duration(500)
					.style("opacity", .9);
			})
			.on("mousemove", function(d, i) {
				let tempHeight = d3.select(".scatterplotTooltip").node().getBoundingClientRect().height
				let tempWidth = d3.select(".scatterplotTooltip").node().getBoundingClientRect().width
				console.log(tempHeight)
				
				scatterplotTooltip
					.style("left", (d3.event.offsetX - (tempWidth / 2) - 0.5) + "px")
					.style("top", (d3.event.offsetY - tempHeight - 12) + "px");
			})
			.on("mouseout", function(d, i) {
				scatterplotTooltip.transition()
					.duration(500)
					.style("opacity", 0)

				hideHandler = setTimeout(hide, 550)
			})
			.attr("r", 5)
			.attr("cx", function(d) { return x(d[xAxisVar]); })
			.attr("cy", function(d) { return y(d[yAxisVar]); })
			.attr("fill", function(d) {
				if (d.type2 === "") {
					return typeColors[d.type1]
				}
				return "url(#" + d.type1 + d.type2 + ")"
			})
			.attr("stroke", function(d) {
				if (d.type2 === "") {
					// color is in hsl format
					return hslDarken(d)
				}
				return "url(#" + d.type1 + d.type2 + "dark)"
			})

	}


	function exitDots() {
		scatterSvg.selectAll("circle")
			.data([])
			.exit()
			.remove();
	}



// -------------------Run initializations/Function calls------------------------//

	updateScatter(xAxisVar, yAxisVar, filtVar)

});
</script>